body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(var(--b3f,250,250,250),1);
  color: #555666;
  font-size: 10pt;
}

.container {
  max-width: 1000px;
}

a {
  color: rgba(var(--d69,0,149,246),1);

  &:hover {
    text-decoration: none;
  }
}

.link-unstyled:hover {
  text-decoration: none;
  cursor: pointer;
}

.text-grey {
  color: #888888;
}

.sub-text {
  font-size: 9pt;
  margin-top: -2px;
}

.navbar {
  background-color: #FFFFFF;
}

.root {
  margin-top: 20px;
  padding-bottom: 20px;
}

.home-profile {
  img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;       
  }
}

.ProfileCard {
  img {
    height: 30px;
    width: 30px;
    object-fit: cover;
    margin-right: 10px;       
  }
}

.ProfileChat {
  img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;       
  }

}

$post-padding: 10px;
$post-height: 60px;
$border-color: rgba(var(--ce3,239,239,239),1);

.borderblock {
  background-color: #FFFFFF;
  border-radius: 3px;
  border: 1px solid $border-color;
} 

.LoginForm {
  padding: 20px 40px;

  .LoginForm-Logo {
    width: 150px;
    margin-bottom: 25px;
    margin-top: 15px;
  }

}

.Post {
  margin-bottom: 25px;

  input {
    border: none !important;
  
    &:focus {
      outline: none !important;
    }
  }

  .Post-Header {
    height: $post-height;

    img {
      height: 35px;
      width: 35px;
      border-radius: 50%;
      object-fit: cover;
    }

  }

  .Post-Options {
    height: $post-height;
  }

  .Post-Caption {
    img {
      height: 20px;
      width: 20px;
      border-radius: 50%;
      object-fit: cover;      
    }
    .comment-like {
      float: right;
    }
    .Post-Caption-Date {
      font-size: 75%;
      text-transform: uppercase;
    }
  }
  .Post-Comment {
    border-top: 1px solid rgba(var(--ce3,239,239,239),1);
  }
}

.Profile-Details {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 12pt;

  .Profile-Image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;   
  }
  

}

.Profile-Nav {
  font-size: 12pt;
  margin-bottom: 15px;

  a {
    font-size: 11pt;
    color: inherit;

  }

}

.Profile-Post-Grid {
  .col-4 {
    padding: 2px !important;
  }
}

.messages {
  min-height: 80vh;
}

.messages-left {
  width: 400px !important;
  border-right: 1px solid $border-color;
}

.messages-log {
  overflow-y: scroll;
  max-height: calc(80vh - 54px);
}

.messages-message {
  border-top: 1px solid $border-color;
}

.navbar {
  border-bottom: 1px solid rgba(var(--ce3,239,239,239),1);
}

.navbar-profile-image {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.NewPost-Body textarea {
    font-size: inherit !important;
    border: none !important;
}

.NewPost-Image-Container {
  padding-top: 100%;
  width: 100%;
  position: relative;

  .NewPost-Image {
    background-color: rgba(var(--ce3,239,239,239),1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


.skeleton-line {
  background-color: rgba(0,0,0,0.6);
  height: 15px;
  width: 50%;
}

.skeleton-profile {
  height: 30px;
  width: 30px;
  background-color: rgba(0,0,0,0.6);
  margin-right: 10px;       
  border-radius: 50%;
}

.skeleton-postwrapper {
  box-sizing: border-box;
  resize: horizontal;
  overflow: auto;
  max-width: 100%;
  height: auto;
}

.skeleton-post {
  width: 100%;
  padding-bottom: 100%;
  background-color: rgba(0,0,0,0.6);
}

svg+span.badge {
  position: relative;
  top: 8px;
  left: -6px;
  margin-right: -12px;
}

.notification-image {
  height: 25px;
  width: 25px;
  object-fit: cover;
}

.notification-content {
  font-size: 10pt;
  width: 250px;
}

.notification-dot {
  height: 6px;
  width: 6px;
  background-color: rgba(var(--d69,0,149,246),1);
  border-radius: 50%;
  display: inline-block;
}